@use './_variable' as *
.card
    padding: 1%
    box-sizing: border-box
    
    .card_header
        height: 50%
    .card_body
        h3
            color: $White
        p
            color: $Very_dark_blue_line
            div
                li:first-child
                    color: $Cyan
                li:last-child
                    color: $Very_dark_blue_line
    .card_footer
        border-top: 1px $Very_dark_blue_line solid
        span 
            color: $White
